{% extends 'learning_logs/base.html' %}


{% block page_header %}
<h1>Topic: {{ topic }}</h1>
{% endblock page_header %}

{% block content %}
    <p>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry:</a>
    </p>

    <p><h2>Entries:</p></h2>
        <ul>
        {% for entry in entries %}
            <li>
            <h3><a href="{% url 'learning_logs:edit_entry' entry.id %}">{{entry.date_added|date:'l, M d, Y h:ia'}}</h3></a>
            <p>{{entry.text|linebreaks}}</p>
            </li>
        {% empty %}
            <p> There are no entries for this topic. </p>
        {% endfor %}
        </ul>

{% endblock content %}
