{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
    <p>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry:</a>
    </p>

    {% for entry in entries %}
        <div class="card border-primary bg-light mb-3">
            <div class="card-header"><h4><a href="{% url 'learning_logs:edit_entry' entry.id %}">{{entry.date_added|date:'l, M d, Y h:ia'}}</h4></a></div>
            <div class="card-body">
                <p class="card-text">{{entry.text|linebreaks}}</p>
            </div>
        </div>

    {% empty %}
        <p> There are no entries for this topic. </p>
    {% endfor %}


{% endblock content %}
